<%- include('../_partials/header.ejs') %>
<%- include('../_partials/navigation.ejs') %>

<h1 class="text-center">Add category</h1>

<div id="category-form" class="wrapper fadeInDown">
    <div id="formContent" class="auto-mg">
        <form action="/categories/store?_csrf=<%= csrfToken %>" method="POST" id="add-category-form" 
            enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="form-group mb-3 mt-3">
                <input type="text" class="form-control" id="category-name"  name="name" placeholder="Name">
            </div>
            <div class="input-group mb-3 file-upload">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="category_image" id="category_image">
                    <label class="custom-file-label text-left" for="category_image">Choose file</label>
                </div>
            </div>
            
            <input type="submit" class="fadeIn fourth" value="Add" />
        </form>
    </div>
</div>
    
<%- include('../_partials/footer.ejs') %>